/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;

.sign-in-register {
.custom-card {
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

.btn {
  width: 100%;
}

p {
  text-align: center;
  margin-top: 2em;
}

h2 {
  text-align: center;
}
}
}
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Footer Styling */
/* Footer container styling */
footer {
  background-color: #f8f9fa; /* Light gray background */
  padding: 10px 20px;
  border-top: 1px solid #eaeaea; /* Light border at the top */
  margin: 0;
}

/* Container styling */
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Footer title styling */
.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-title a {
  text-decoration: none;
  color: #000; /* Black for emphasis */
}

.footer-title a:hover {
  color: #007bff; /* Blue on hover */
}

/* Footer list styling */
.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list ul {
  margin-bottom: 10px;
}

.footer-list a {
  text-decoration: none;
  color: #6c757d; /* Muted color for links */
}

.footer-list a:hover {
  color: #007bff; /* Blue on hover */
}

/* Footer contact styling */
.footer-contact a {
  text-decoration: none;
  color: #000;
}

.footer-contact a:hover {
  color: #007bff;
}

.footer-contact {
  font-style: normal;
  color: #6c757d; /* Muted text */
  /*margin-top: 10px;*/
}

/* University information styling */
.text-center div {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Copyright section styling */
.copyright-section {
  margin-top: 30px;
}

.copyright-section a {
  color: #6c757d;
  text-decoration: none;
}

.copyright-section a:hover {
  color: #007bff;
}

/* Logo styling */
.footer-logos .logo-img {
  max-width: 100px; /* Adjust size of logos */
  margin: 5px;
  max-height: 80px;
}

.footer-logos img {
  display: block;
  max-width: 100px;
  margin: 0;
  width: 100%;
  max-height: 100px;
}